@charset "utf-8";

@font-face {
    font-family: "TituloCyber";
    src: url("../resources/fontes/");
}

*{
    font-family: "TituloCyber";
}

:root{
    --CorFonteRoxo: #A700DF;
    --corPreto: #070908;
    --CorFonteBranco: #BCE6DA;
    --corRoxoEscuro: #14081C;
    --cor5: #05080D; 
}

html {
    background-color: black;
}

/* Menu do lado */
main {
    width: 150px;
    background-color: var(--corPreto);
    position: fixed;
    height: 100%;
  }

main > a#voltar {
    position: absolute;
    top: 90%;
    left: 24%;
    
    width: 50%;
}

p {
    border: solid;
    border-radius: 10px;
    height: 4%;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
}


a {

    text-decoration: none;
    text-align: center;
}

.selecionado{
    border-color: var(--CorFonteRoxo);
    color: var(--corPreto);
    background-color: var(--CorFonteBranco);
    
}

.nselecionado {
    border-color: var(--CorFonteBranco);
    color: var(--CorFonteRoxo);
    background-color: var(--corPreto);
}

.nselecionado:hover {
    border-color: var(--CorFonteRoxo);
    color: var(--corPreto);
    background-color: var(--CorFonteBranco);
}

#voltar {
    width: 92%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5%;
    left: -11.2%;
    width: 99.5%;
    height: 18.1%;
}